<div class="row">
    <div class="col text-center">
        <h3>{{ fbs.letra }}</h3>

    </div>
</div>
<div class="row">
    <div class="container">
        <h2 class="text-center">Jugador 2</h2>
        <h3 *ngIf="!fbs.J2Activo">¿Jugar de nuevo?</h3>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="fbs.JugarNuevo('J2', true)" *ngIf="!fbs.J2Activo">Si</button>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="granTotal()" *ngIf="!fbs.J2Activo" data-toggle="modal" data-target="#exampleModal2">No</button>
        <table class="table" *ngIf="fbs.J2Activo">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Cosa</th>
                    <th scope="col">Flor o Fruto</th>
                    <th scope="col">Suma</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let palabra of fbs.J2">
                    <th>
                        {{palabra.nombre}} <br> {{ palabra.puntsN }}
                    </th>
                    <th>
                        {{palabra.apellido}} <br> {{ palabra.puntsA }}
                    </th>
                    <th>
                        {{palabra.ciudad}} <br> {{ palabra.puntsC }}
                    </th>
                    <th>
                        {{palabra.cosa}} <br> {{ palabra.puntsCosa }}
                    </th>
                    <th>
                        {{palabra.fof}} <br> {{ palabra.puntsFof }}
                    </th>
                    <th>{{ palabra.suma }}</th>
                </tr>
                <tr>
                    <th><input type="text" #nombre></th>
                    <td><input type="text" #apellido></td>
                    <td><input type="text" #ciudad></td>
                    <td><input type="text" #cosa></td>
                    <td><input type="text" #fof></td>
                </tr>

            </tbody>
            <button type="button" class="btn btn-outline-success" (click)="limpiar(nombre.value, apellido.value, ciudad.value, cosa.value, fof.value)">Enviar</button>
            <button type="button" class="btn btn-outline-success" (click)="btnParo()">Parar</button>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Suma Total</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Obtuviste: {{sumaTotal}} puntos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reiniciar2()">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>